.card-view {
    position: relative;
    width: 265px !important;
    background-color: white;
    padding: 0 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    ;
}

.favbtn {
    z-index: 1;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.card-title {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating {
    color: rgb(0, 204, 255);
}

.subtitle {
    font-size: 13px;
}

/* img {
    width: 100%;
} */