.back-image{
    width: 100% !important;
    /* height: 571px; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: right -200px top; */
}
.mask{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
}
.poster-img{
    width: 310px !important;
    height: 500px;
}
/* .content{
    height: 100%;
} */